.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../../images/feynman.png");
  background-size: 836px 637px;
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
}
