.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid red;
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 1000;
  border: 1px solid red;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo__svg {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  border: 1px solid red;
}

/* TODO: link */
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1000;
  border: 1px solid red;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: 1px solid red;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  border: 1px solid red;
}

.content {
  height: 100vh;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_marg {
  margin: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  margin: 100px 0 0 0;
  text-align: center;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px 0 0 0;
  text-align: center;
  padding: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin-bottom: 100px;
  width: 1100px;
  border-spacing: 0;
}

.table__row {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.table__cell{
  padding: 0;
  margin: 0;
  width: 250px;
  vertical-align: top;
}

.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  padding: 0;
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
